@use"./font";
@use "./config/config";

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}